.tagCont {
    color: inherit;
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    width: fit-content;
}