.container {
    height: auto;
    width: 100%;
    font-family: sans-serif;
    padding-top: 3.5rem;
    overflow: auto;

    & > .headerCont {
        & > .blurb {
            display: none;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        padding-bottom: 3.5rem;
        
        & .hollowText {
            font-weight: 900;
            color: transparent;
            -webkit-text-stroke: 1px #000;
            font-family: sans-serif;
        }
    }
    
    & > .imageCont {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0 3% 0 4%;

        & > .mainImage {
            display: flex;
            align-self: center;
            width: 85%;
            height: auto;
            color: red;
            transform: rotate(5deg);
            border: 2px solid #000;
            margin: 0 2%;

            & > a {
                height: auto;
            }
        }

        & > .okSticker {
            height: auto;
            max-width: 200px;
            width: 25%;
            position: absolute;
            left: 1rem;
            transform: rotate(5deg);
        }

        & > .sidebarText {
            display: flex;
            height: 100%;
            width: 6%;
            transform: rotate(90deg);
            justify-content: space-between;
            margin: auto 0;
            font-weight: 600;
            
            
            & > a {
                white-space: nowrap;
                & > span {
                    text-decoration: underline;
                }
            }
        }
    }

    & > .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
            & > .mobileBlurb {
                font-size: 1.2rem;
                font-weight: 600;
                padding: 2.5rem 2rem 1rem;
                @media(min-width: 991px) {
                    display: none;
                }
            }
            
            & > .footerButtons {
                display: flex;
                flex-direction: column;
                padding: 0 2rem 2rem;
                font-size: 0.8rem;

                @media (min-width: 770px) {
                    width: 50%;
                    flex-direction: row;
                    margin-top: 2rem;
                        & > div {
                            margin-right: 0.5rem;
                        }
                }
                
            }
    }
}

@media(min-width: 991px){
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & > .headerCont {
            width: 48%;
            align-self: center;

            & > .blurb {
                display: block;
                padding: 2rem;

                & > p {
                    font-size: 1.7rem;
                    margin-right: 1.5rem;
                }
            }
            
            & > .heading {
                font-size: 4.5rem;
                text-align: left;
                padding: 2rem;

                & .hollowText {
                    -webkit-text-stroke-width: 2px;
                }
            }
        }

        & > .imageCont {
            position: relative;
            width: 48%;
            padding: 0;
        
            & > .okSticker {
                left: -6rem;
                bottom: 4rem;
            }

            & > .sidebarText {
                display: flex;
                height: 3%;
            }
        }

        & > .footer {
            width: 100%;
        }
    }
}

// Maybe add to ImageGrid
// grid-template-rows: 25% 25% 25% 25%;
// grid-template-columns: 50% 50%;