.navbar {
    display: flex;
    min-width: 100vw;
    
    text-transform: uppercase;
    background-color: #fff;

    & .navCont {
        display: flex;
    }

    & .logo {
        width: 2.5rem;
        cursor: pointer;
    }
}

    /* Desktop Nav */
@media (min-width: 991px) {
    .navbar {
        height: 6rem;
        padding: 0 2rem;

        & > .leftNav {
            min-width: 3.6;
        }

        & > .navLinks {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex: 1;

            & > .navCont {
                

                & > .navLink {
                    align-self: center;
                    height: fit-content;
                    font-weight: 600;

                    &.recordButton {
                        display: grid;
                        place-items: center;
                        color: #fff;
                        border-radius: 10rem;
                        background-color: #000;
                        width: 13.25rem;
                        height: 3.1rem;
                        margin: 0 1.75rem;
                    }
                }
                

            }

            & > .centerNav {
                justify-content: space-between;
                margin: 0 auto;
                min-width: 410px;
            }

            & > .rightNav {
                justify-content: flex-end;
                width: 350px;
            }
            
        }

        & .navCont {
            justify-content: space-between;
        }
    }
}


    /* Mobile Nav */

@media (max-width: 990px) {
    .mobileOverlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: auto;
        background-color: #00000099;
        z-index: 10;
        overflow-y: hidden;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 0;
        background-color: #fff;

        & > .leftNav {
            height: 4.2rem;
            width: 100%;
            justify-content: space-between;
            padding: 0.5rem 1rem;

            & > .logo {
                width: 2rem;
            }

            & .mobileIcons {
                display: flex;
                width: 7rem;
                justify-content: space-between;
                    
                & > i {
                    font-size: 2rem;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }

        & > .navLinks {
            display: none;
        }

        & > .navLinks.active {
            display: flex;
            flex-direction: column;
            font-size: 2.3rem;
            width: 100%;
            order: 3;

            & > .navCont {
                flex-direction: column;
                text-align: left;
                width: 100%;
                margin-bottom: 1rem;
                padding: 1rem 1.5rem;
            }

            & > .centerNav {
                text-transform: capitalize;
                font-weight: 600;
                border-top: 2px solid #000;
            }

            & .navLink {
                width: fit-content;
            }

            & > .rightNav {
                position: relative;
                letter-spacing: 0.15px;

                & > .peaceCont {
                    position: absolute;
                    right: 2.5rem;
                    bottom: 8.8rem;
                    width: 20%;
                    max-width: 200px;
                    
                    & > .peaceSticker {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }

                

                & > .socialLinks {
                    margin-bottom: 2rem;
                    & > i {
                        margin: 0 0.25rem;
                    }
                }

                & > .navLink {
                    display: grid;
                    place-items: center;
                    color: #000;
                    border-radius: 10rem;
                    border: 2px solid #000;
                    font-size: 1rem;
                    font-weight: 700;
                    margin: 0.25rem 0;
                    height: 3.8rem;
                    width: auto;

                    &.recordButton {
                        color: #fff;
                        background-color: #000;
                    }
                }
            }
        }
    }
}


