.footerCont {
    display: grid;
    place-items: center;
    width: 100%;
    height: 3rem;
    background-color: #E280FF;
    text-align: center;
    
    & > p {
        font-size: 1.1rem;
        font-weight: 500;

        & > a {
            display: block;
            
            &:hover {
                transform: scale(1, 1.2);
                color: #FFF804;
            }
        }
    }
}

@media (min-width: 600px) {
    .footerCont {
        height: 2rem;
        & > p > a {
            display: inline-block;
        }
    }
}