.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% top;
    height: 100vh;
    color: #fff;
    padding: 2rem 1.25rem 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
}